 <div id='container'>
<!-- Your code here -->
  <nav class="navigation">
    <ul>
      <li>
      <!-- Link back to `Links` -->
      </li>
       <li>
      <!-- Link back to `Shorten` -->
      </li>
    </ul>
  </nav>
  <div class="creator">
    <!-- Submission form -->
    <form name="shortlyForm" ng-submit="addLink(link)" novalidate>
      <input name="url" type="url" ng-model="link.url" placeholder="Enter your url here" required
      ng-class="{'error': shortlyForm.$dirty && shortlyForm.$invalid}">
      <button type="submit" value="Shorten">
        add
      </button>
    </form>
    <!-- Conditional error messages
    <div class="message" ng-if="shortlyForm.$dirty && shortlyForm.url.$error.required">
      <h2>Url required</h2>
    </div>
    <div class="message" ng-show="shortlyForm.$dirty && shortlyForm.url.$error.url">
      <h2>Not a valid url</h2>
    </div>
    -->
+  </div>
 </div>
